.Template {
  background-color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  width: 40rem;
  margin: 0 auto;
  margin-top: 2rem;
}

.Template .title {
  background-color: lightgray;
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 100;
  color: dimgray;
}

.ContactWrapper {
  display: flex;
  flex-direction: row;
}

.ContactWrapper span.left+.right {
  border-left: 1px solid lightgray;
}

.ContactWrapper span.left {
  padding: 1rem;
}

.ContactWrapper span.right {
  flex: 1;
  padding: 1rem;
}
